*.bin
*.bmp
*.yuv
*.opensdf
*.sdf
*.suo
*.user
Debug
Release
UnitTest/unit_test
UnitTest/unit_test.log
UnitTest/unit_test.trs

*.o
*.la
*.lo
*.pc
*.so
*.dll
.libs
.deps/
.dirstamp
m4/*
!m4/ax_pthread.m4
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
test-driver
test-suite.log
zimg-test
