*.bin
*.bmp
*.yuv
*.opensdf
*.sdf
*.suo
*.user
Resize/x64/
Resize/Debug/
Resize/Release/
x64/
Debug/
Release/
*.o
*.la
*.lo
*.pc
*.so
*.dll
.libs
.deps/
.dirstamp
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
zimg-test
