# Output files from testapp.
*.bin
*.bmp
*.yuv

# MSVC files.
*.db
*.opendb
*.opensdf
*.sdf
*.suo
*.user
_msvc/.vs
Debug
Release

# autotools files.
*.o
*.la
*.lo
*.pc
*.so
*.dll
*.log
*.trs
.libs
.deps/
.dirstamp
doc/example/alpha_example
doc/example/api_example
doc/example/api_example_c
doc/example/hdr_example
doc/example/interlace_example
doc/example/tile_example
m4/libtool.m4
m4/lt*.m4
test/unit_test
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
missing
testapp
test-driver
test-suite.log

!doc/example/Makefile
