sudo: false
language: cpp

matrix:
  include:
    # GCC 6.
    - compiler: gcc
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gcc-6
            - g++-6
        coverity_scan:
          project:
            name: "sekrit-twc/zimg"
            description: "Build submitted via Travis CI"
          notification_email: noreply@example.com
          build_command_prepend: "source .coverity-prepare.sh"
          build_command: make
          branch_pattern: coverity_scan
      env: 
        - MY_CC: gcc-6
        - MY_CXX: g++-6
        # The next declaration is the encrypted COVERITY_SCAN_TOKEN, created
        #   via the "travis encrypt" command using the project repo's public key
        - secure: "ZPVIqS6exYthp6FL6XQYyzz3Y17BKUP60bMj3X6vHk0aJ3d5jOVE4OEOjEY2uOnEWQej1a1ea0kBqpvljnrDUNZZjKdG7Auv0N8Dmg1RKznyjHLbqoGPD2Yj+ooYHT8qE7thCZC8v7axoCf2sObViWtZg3AmeqAMVxHGoG3OxRU="
    # Clang/LLVM 3.8
    - compiler: clang
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-precise-3.8
          packages:
            - clang-3.8
      env:
        - MY_CC: clang-3.8
        - MY_CXX: clang++-3.8
    # Apple Clang
    - os: osx
      osx_image: xcode7.3
      compiler: clang
      env:
        - MY_CC: clang
        - MY_CXX: clang++

install:
  - export CC=$MY_CC
  - export CXX=$MY_CXX
script:
  - ./.travis-script.sh
